:root {
  --rsbs-max-w: var(--layout-max-w);
  --rsbs-content-opacity: 1;
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #2c2e3a;
  --rsbs-handle-bg: #8c8ea6;
  --rsbs-ml: auto;
  --rsbs-mr: auto;
  --rsbs-overlay-rounded: 16px;

  /* 스크롤바 없음 */
  ::-webkit-scrollbar {
    width: 0px;
  }
}

[data-rsbs-overlay] {
  z-index: 99;
}
